@model EntityLayer.Concrete.Meeting

@{
    ViewData["Title"] = "UpdateMeeting";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}  


      <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Randevu Düzenle</h4>
                 
                @using (Html.BeginForm("UpdateMeeting","Secretary",FormMethod.Post)){

                    @Html.HiddenFor(m=>m.MeetingID)                

                    <div class="form-group">
                      <label>Doktor-Branş</label>
                      @Html.DropDownListFor(m=>m.DoktorUserName,(List<SelectListItem>) ViewBag.Doctor ,new {@class="form-control"})                      
                    </div>
                

                    <div class="form-group">
                     <label>İstenen Randevu Tarihi</label>               
                 <input class="form-control" asp-for="Date"  asp-format="{0:yyyy-MM-ddTHH:mm}" />
                     @Html.ValidationMessageFor(m=>m.Date,"",new {@class="text-danger"})


                    </div>

                      <div class="form-group">
                     <label>Randevu Onay</label>
                     @Html.CheckBoxFor(m=>m.Confirmation)
                
                    </div>

                  <button  class="btn btn-success">Randevuyu Düzenle</button>
            

            }


                  </div>
                </div>
              </div>




